<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Home</h3>
	<hr>
	<div>
		&nbsp;
	</div>

 <!-- Top row with form-->
<div class="row">
	 <div class="col-2">
	 	<a th:href="@{/ui/brand}" title="Brand"><i>BRAND</i> </a>
	 </div>	
	 <div class="col-2">
	 	<a th:href="@{/ui/product}" title="Product"> <i>PRODUCT</i> </a>
	 </div>
	<div class="col-2">
		<a th:href="@{/ui/inventory}" title="Inventory"> <i>INVENTORY</i> </a>
	</div>
	<div class="col-2">
		<a th:href="@{/ui/order}" title="Orders"> <i>ORDER</i> </a>
	</div>
	<div class="col-2">
		<a th:href="@{/ui/report}" title="Report"> <i>REPORTS</i> </a>
	</div>
</div> 



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/notify.js}"/></script>
<script th:src="@{/static/notify.min.js}"/></script>


</body>	

</html>